{% extends "base.html" %}

{% block title %}Mikazuki - Confirm your account{% endblock %}

{% block body_attribs %}
style="padding-bottom: 70px;background-image:url({{ url_for('static',filename='unconfirm.jpg') }});background-size:100%"
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        你好, {{ current_user.username }}!
    </h1>
    <h3>您尚未认证您的账户.</h3>
    <p>
        若您要访问该页面需要先认证账户.
        请检查您的收件箱，确认是否收到带有认证链接的一封邮件
    </p>
    <p>
        并未收到认证邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">请点这里</a>
    </p>
</div>
{% endblock %}